.row
  .span7
  .span5
    .muted
      {{select_for}}
      %span.dropdown
        %a.sex{href: 'javascript:void(0)', data: {toggle: :dropdown}}
          {{sex}}
        %ul.dropdown-menu{role: 'menu', 'aria-labelledby' => 'dLabel'}
          %li
            = link_to '{{boy}}',  'javascript:void(0)', data: {sex: 0}, class: 'select_sex'
          %li
            = link_to '{{girl}}', 'javascript:void(0)', data: {sex: 0}, class: 'select_sex'


      {{from}}
      %span.dropdown
        %a.names-scope{href: 'javascript:void(0)', data: {toggle: :dropdown}}
          {{names_scope}}

        %ul#scope_selector.dropdown-menu
          %li
            = link_to 'javascript:void(0)', data: {score: 0}, class: 'select_scope' do
              %i.icon-search
              не просмотренные
          %li.divider
          %li
            = link_to 'выбранные 1 раз', 'javascript:void(0)', data: {score: 1}, class: 'select_scope'
          %li
            = link_to 'выбранные 2 раза', 'javascript:void(0)', data: {score: 2}, class: 'select_scope'
          %li
            = link_to 'выбранные 3 раза', 'javascript:void(0)', data: {score: 3}, class: 'select_scope'
          %li
            = link_to 'выбранные 4 раза', 'javascript:void(0)', data: {score: 4}, class: 'select_scope'
          %li.divider
          %li
            = link_to 'javascript:void(0)', data: {score: 5}, class: 'select_scope' do
              %i.icon-heart
              избранные

    %p.muted
      Кликните на те имена которые Вам нравятся.

#names
